openapi: 3.0.3
info:
  title: Hashy AI Node
  version: 1.0.0
  contact: {}
servers:
  - url: https://hashyai.hashmicro.com/api/v1
paths:
  /auth/login:
    post:
      tags:
        - Auth
      summary: Login
      description: Login
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: iqbal.rivaldi@hashmicro.com
                password:
                  type: string
                  example: Password123!
            examples:
              Login:
                value:
                  email: iqbal.rivaldi@hashmicro.com
                  password: Password123!
      responses:
        '200':
          description: Response
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: Content-Type, Authorization, X-Requested-With, Accept, Origin
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET, POST, PUT, DELETE, PATCH, OPTIONS
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Language:
              schema:
                type: string
                example: en
            Content-Length:
              schema:
                type: string
                example: '433'
            Date:
              schema:
                type: string
                example: Wed, 26 Nov 2025 03:20:15 GMT
            ETag:
              schema:
                type: string
                example: W/"1b1-YYGSBIbjp2XTir/bUDvvVO3I0uY"
            Server:
              schema:
                type: string
                example: nginx/1.28.0
            Set-Cookie:
              schema:
                type: string
                example: >-
                  i18next=en; Path=/; Expires=Thu, 26 Nov 2026 03:20:15 GMT;
                  SameSite=Strict
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: >-
                          eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTgsImlhdCI6MTc2NDEyNzIxNSwiZXhwIjoxNzY0MjEzNjE1fQ.U4LMkgkXKSgLpQOlzC6aI_lsKrInf25zT8ak81JuaM8
                      user:
                        type: object
                        properties:
                          createdAt:
                            type: string
                            example: '2025-11-24T04:45:10.957Z'
                          email:
                            type: string
                            example: iqbal.rivaldi@hashmicro.com
                          id:
                            type: number
                            example: 18
                          name:
                            type: string
                            example: Iqbal Rivaldi
                          password:
                            type: string
                            example: >-
                              $2b$08$tTaNtFv3MFP5DxKgSuCoI.vG6sUTreGsd0RsSlrntVLYse6a4TEx.
                          updatedAt:
                            type: string
                            example: '2025-11-24T04:45:10.957Z'
                  message:
                    type: string
                    example: Login successful
                  status:
                    type: boolean
                    example: true
              examples:
                Response:
                  value:
                    data:
                      token: >-
                        eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTgsImlhdCI6MTc2NDEyNzIxNSwiZXhwIjoxNzY0MjEzNjE1fQ.U4LMkgkXKSgLpQOlzC6aI_lsKrInf25zT8ak81JuaM8
                      user:
                        createdAt: '2025-11-24T04:45:10.957Z'
                        email: iqbal.rivaldi@hashmicro.com
                        id: 18
                        name: Iqbal Rivaldi
                        password: >-
                          $2b$08$tTaNtFv3MFP5DxKgSuCoI.vG6sUTreGsd0RsSlrntVLYse6a4TEx.
                        updatedAt: '2025-11-24T04:45:10.957Z'
                    message: Login successful
                    status: true
  /auth/me:
    get:
      tags:
        - Auth
      summary: Me
      description: Me
      operationId: me
      responses:
        '200':
          description: Response
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: Content-Type, Authorization, X-Requested-With, Accept, Origin
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET, POST, PUT, DELETE, PATCH, OPTIONS
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Language:
              schema:
                type: string
                example: en
            Content-Length:
              schema:
                type: string
                example: '566'
            Date:
              schema:
                type: string
                example: Wed, 26 Nov 2025 03:22:12 GMT
            ETag:
              schema:
                type: string
                example: W/"236-+COL7qQwpAdJVSF5VKHzmPIcViA"
            Server:
              schema:
                type: string
                example: nginx/1.28.0
            Set-Cookie:
              schema:
                type: string
                example: >-
                  i18next=en; Path=/; Expires=Thu, 26 Nov 2026 03:22:12 GMT;
                  SameSite=Strict
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          createdAt:
                            type: string
                            example: '2025-11-24T04:45:10.957Z'
                          created_at:
                            type: string
                            example: '2025-11-24T04:45:10.957Z'
                          email:
                            type: string
                            example: iqbal.rivaldi@hashmicro.com
                          id:
                            type: number
                            example: 18
                          name:
                            type: string
                            example: Iqbal Rivaldi
                          roles:
                            type: array
                            items:
                              type: object
                              properties:
                                createdAt:
                                  type: string
                                  example: '2025-07-15T10:41:19.429Z'
                                created_at:
                                  type: string
                                  example: '2025-07-15T10:41:19.429Z'
                                description:
                                  type: string
                                  example: Administrator with most system permissions
                                id:
                                  type: number
                                  example: 2
                                is_active:
                                  type: boolean
                                  example: true
                                name:
                                  type: string
                                  example: admin
                                updatedAt:
                                  type: string
                                  example: '2025-07-15T10:41:19.429Z'
                                updated_at:
                                  type: string
                                  example: '2025-07-15T10:41:19.429Z'
                            example:
                              - createdAt: '2025-07-15T10:41:19.429Z'
                                created_at: '2025-07-15T10:41:19.429Z'
                                description: Administrator with most system permissions
                                id: 2
                                is_active: true
                                name: admin
                                updatedAt: '2025-07-15T10:41:19.429Z'
                                updated_at: '2025-07-15T10:41:19.429Z'
                          updatedAt:
                            type: string
                            example: '2025-11-24T04:45:10.957Z'
                          updated_at:
                            type: string
                            example: '2025-11-24T04:45:10.957Z'
                  message:
                    type: string
                    example: User fetched successfully
                  status:
                    type: boolean
                    example: true
              examples:
                Response:
                  value:
                    data:
                      user:
                        createdAt: '2025-11-24T04:45:10.957Z'
                        created_at: '2025-11-24T04:45:10.957Z'
                        email: iqbal.rivaldi@hashmicro.com
                        id: 18
                        name: Iqbal Rivaldi
                        roles:
                          - createdAt: '2025-07-15T10:41:19.429Z'
                            created_at: '2025-07-15T10:41:19.429Z'
                            description: Administrator with most system permissions
                            id: 2
                            is_active: true
                            name: admin
                            updatedAt: '2025-07-15T10:41:19.429Z'
                            updated_at: '2025-07-15T10:41:19.429Z'
                        updatedAt: '2025-11-24T04:45:10.957Z'
                        updated_at: '2025-11-24T04:45:10.957Z'
                    message: User fetched successfully
                    status: true
      security:
        - bearerAuth: []
  /message/send:
    post:
      tags:
        - Messages
      summary: Send
      description: Send
      operationId: send
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  example: haii, hari apa ini?
            examples:
              Send:
                value:
                  prompt: haii, hari apa ini?
      responses:
        '200':
          description: Send
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '89'
            Date:
              schema:
                type: string
                example: Mon, 17 Feb 2025 10:12:16 GMT
            ETag:
              schema:
                type: string
                example: W/"59-8G0dgGnuE365smt18WB/OK1ZaQQ"
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: >-
                      Hai! Hari ini adalah Rabu, 1 November 2023. Ada yang bisa
                      saya bantu lagi?
              examples:
                Send:
                  value:
                    response: >-
                      Hai! Hari ini adalah Rabu, 1 November 2023. Ada yang bisa
                      saya bantu lagi?
      security:
        - bearerAuth: []
  /message/send-test-application:
    post:
      tags:
        - Messages
      summary: Test Application Ali
      description: Test Application Ali
      operationId: testApplicationAli
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  example: haii, kamu ini siapa?
            examples:
              Test Application Ali:
                value:
                  prompt: haii, kamu ini siapa?
      responses:
        '200':
          description: Test Application Ali
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Language:
              schema:
                type: string
                example: en
            Content-Length:
              schema:
                type: string
                example: '884'
            Date:
              schema:
                type: string
                example: Thu, 13 Mar 2025 08:46:36 GMT
            ETag:
              schema:
                type: string
                example: W/"374-TkryIRm2Rp62zaB9y/FB2D60Ecc"
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Set-Cookie:
              schema:
                type: string
                example: >-
                  i18next=en; Path=/; Expires=Fri, 13 Mar 2026 08:46:33 GMT;
                  SameSite=Strict
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      response:
                        type: object
                        properties:
                          output:
                            type: object
                            properties:
                              finish_reason:
                                type: string
                                example: stop
                              session_id:
                                type: string
                                example: 18d24d50bf0a4751ae4881966779f10b
                              text:
                                type: string
                                example: >-
                                  Halo! Saya adalah seorang **spesialis dukungan
                                  teknis perangkat lunak** yang dirancang untuk
                                  membantu Anda menyelesaikan masalah atau
                                  memberikan jawaban terkait software. Jika Anda
                                  memiliki pertanyaan atau kendala teknis,
                                  silakan beri tahu saya dan saya akan dengan
                                  senang hati membantu!


                                  Anda bisa memikirkan saya sebagai asisten
                                  digital yang fokus pada solusi praktis untuk
                                  kebutuhan Anda. 😊


                                  Siapa saya? Dalam konteks komputasi, saya
                                  adalah model AI yang telah dilatih untuk
                                  memberikan layanan pelanggan yang efisien dan
                                  tepat. Bagaimana saya bisa membantu Anda hari
                                  ini?
                          request_id:
                            type: string
                            example: b8ac9d5c-2e39-95d9-95f4-da72c21d8225
                          usage:
                            type: object
                            properties:
                              models:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    input_tokens:
                                      type: number
                                      example: 87
                                    model_id:
                                      type: string
                                      example: qwen-plus
                                    output_tokens:
                                      type: number
                                      example: 154
                                example:
                                  - input_tokens: 87
                                    model_id: qwen-plus
                                    output_tokens: 154
                  message:
                    type: string
                    example: Message sent successfully
                  status:
                    type: boolean
                    example: true
              examples:
                Test Application Ali:
                  value:
                    data:
                      response:
                        output:
                          finish_reason: stop
                          session_id: 18d24d50bf0a4751ae4881966779f10b
                          text: >-
                            Halo! Saya adalah seorang **spesialis dukungan
                            teknis perangkat lunak** yang dirancang untuk
                            membantu Anda menyelesaikan masalah atau memberikan
                            jawaban terkait software. Jika Anda memiliki
                            pertanyaan atau kendala teknis, silakan beri tahu
                            saya dan saya akan dengan senang hati membantu!


                            Anda bisa memikirkan saya sebagai asisten digital
                            yang fokus pada solusi praktis untuk kebutuhan Anda.
                            😊


                            Siapa saya? Dalam konteks komputasi, saya adalah
                            model AI yang telah dilatih untuk memberikan layanan
                            pelanggan yang efisien dan tepat. Bagaimana saya
                            bisa membantu Anda hari ini?
                        request_id: b8ac9d5c-2e39-95d9-95f4-da72c21d8225
                        usage:
                          models:
                            - input_tokens: 87
                              model_id: qwen-plus
                              output_tokens: 154
                    message: Message sent successfully
                    status: true
      security:
        - bearerAuth: []
  /message:
    get:
      tags:
        - Messages
      summary: List
      description: List
      operationId: list
      parameters:
        - name: message
          in: query
          schema:
            type: string
            example: like:karyawan
        - name: sort_by
          in: query
          schema:
            type: string
            example: id
        - name: order
          in: query
          schema:
            type: string
            example: ASC
        - name: page
          in: query
          schema:
            type: string
            example: ''
        - name: limit
          in: query
          schema:
            type: string
            example: ''
        - name: session_id
          in: query
          schema:
            type: string
            example: 75206d93-1a9f-4395-adba-14c6726bc602
      responses:
        '200':
          description: List
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '4497'
            Date:
              schema:
                type: string
                example: Wed, 05 Mar 2025 22:39:22 GMT
            ETag:
              schema:
                type: string
                example: W/"1191-j84eSS9zHHJV2G10tB0EWlZ9meI"
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      current_page:
                        type: number
                        example: 10
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            ai_logs:
                              type: array
                              items: {}
                              example: []
                            channel:
                              type: string
                              example: whatsapp
                            created_at:
                              type: string
                              example: '2025-03-04T06:52:38.160Z'
                            filepath:
                              nullable: true
                              example: null
                            id:
                              type: number
                              example: 185
                            message:
                              type: string
                              example: >-
                                Hai Muhamad Iqbal Rivaldi! Untuk cek kehadiran
                                karyawan lain, saya perlu memeriksa izin akses
                                Anda terlebih dahulu. Bisa Anda beritahu saya
                                apa posisi atau jabatan Anda di perusahaan?
                                Dengan demikian, saya bisa membantu Anda lebih
                                lanjut. 😊
                            message_type:
                              type: string
                              example: text
                            receiver:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: Muhamad Iqbal Rivaldi
                            receiver_employee_id:
                              type: number
                              example: 1
                            sender:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: Hashy
                            sender_employee_id:
                              type: number
                              example: 9
                            updated_at:
                              type: string
                              example: '2025-03-04T06:52:38.160Z'
                            wamid:
                              type: string
                              nullable: true
                              example: null
                        example:
                          - ai_logs: []
                            channel: whatsapp
                            created_at: '2025-03-04T06:52:38.160Z'
                            filepath: null
                            id: 185
                            message: >-
                              Hai Muhamad Iqbal Rivaldi! Untuk cek kehadiran
                              karyawan lain, saya perlu memeriksa izin akses
                              Anda terlebih dahulu. Bisa Anda beritahu saya apa
                              posisi atau jabatan Anda di perusahaan? Dengan
                              demikian, saya bisa membantu Anda lebih lanjut. 😊
                            message_type: text
                            receiver:
                              name: Muhamad Iqbal Rivaldi
                            receiver_employee_id: 1
                            sender:
                              name: Hashy
                            sender_employee_id: 9
                            updated_at: '2025-03-04T06:52:38.160Z'
                            wamid: null
                          - ai_logs: []
                            channel: whatsapp
                            created_at: '2025-03-04T06:52:32.315Z'
                            filepath: null
                            id: 184
                            message: apakah saya bisa cek kehadiran karyawan lain?
                            message_type: text
                            receiver:
                              name: Hashy
                            receiver_employee_id: 9
                            sender:
                              name: Muhamad Iqbal Rivaldi
                            sender_employee_id: 1
                            updated_at: '2025-03-04T06:52:32.315Z'
                            wamid: >-
                              wamid.HBgNNjI4NTE1NjU3NDQ5NxUCABIYFDNBOEJEQkRFMjc0M0IyMzFDRjlGAA==
                          - ai_logs: []
                            channel: whatsapp
                            created_at: '2025-03-04T06:52:04.808Z'
                            filepath: null
                            id: 183
                            message: >-
                              Hai Muhamad Iqbal Rivaldi! Berikut adalah rekap
                              kehadiran Anda di bulan kemarin:


                              - Jumlah hari kerja: 20 hari

                              - Jumlah hari hadir: 18 hari

                              - Jumlah hari tidak hadir: 2 hari

                              - Jumlah hari cuti: 1 hari (Annual Leave)


                              Jika ada hal lain yang bisa saya bantu, silakan
                              beri tahu! 😊
                            message_type: text
                            receiver:
                              name: Muhamad Iqbal Rivaldi
                            receiver_employee_id: 1
                            sender:
                              name: Hashy
                            sender_employee_id: 9
                            updated_at: '2025-03-04T06:52:04.808Z'
                            wamid: null
                          - ai_logs: []
                            channel: whatsapp
                            created_at: '2025-03-04T06:51:59.821Z'
                            filepath: null
                            id: 182
                            message: buatkan rekap kehadiran dibulan kemarin
                            message_type: text
                            receiver:
                              name: Hashy
                            receiver_employee_id: 9
                            sender:
                              name: Muhamad Iqbal Rivaldi
                            sender_employee_id: 1
                            updated_at: '2025-03-04T06:51:59.821Z'
                            wamid: >-
                              wamid.HBgNNjI4NTE1NjU3NDQ5NxUCABIYFDNBQkVFQzg2MDU2RDdENzJDRjM2AA==
                          - ai_logs: []
                            channel: whatsapp
                            created_at: '2025-03-04T06:51:35.029Z'
                            filepath: null
                            id: 181
                            message: >-
                              Hai Muhamad Iqbal Rivaldi! Ada yang bisa Hashy
                              bantu lagi hari ini?
                            message_type: text
                            receiver:
                              name: Muhamad Iqbal Rivaldi
                            receiver_employee_id: 1
                            sender:
                              name: Hashy
                            sender_employee_id: 9
                            updated_at: '2025-03-04T06:51:35.029Z'
                            wamid: null
                          - ai_logs: []
                            channel: whatsapp
                            created_at: '2025-03-04T06:51:29.556Z'
                            filepath: null
                            id: 180
                            message: Hallo
                            message_type: text
                            receiver:
                              name: Hashy
                            receiver_employee_id: 9
                            sender:
                              name: Muhamad Iqbal Rivaldi
                            sender_employee_id: 1
                            updated_at: '2025-03-04T06:51:29.556Z'
                            wamid: >-
                              wamid.HBgNNjI4NTE1NjU3NDQ5NxUCABIYFDNBNEE2ODE5NEZDM0IyOEM1RTBGAA==
                          - ai_logs: []
                            channel: whatsapp
                            created_at: '2025-03-04T06:12:19.462Z'
                            filepath: null
                            id: 179
                            message: >-
                              Baik, terima kasih! Senang bisa membantu kamu hari
                              ini. Bagaimana aku bisa membantu lagi? 🙏
                            message_type: text
                            receiver:
                              name: Muhamad Iqbal Rivaldi
                            receiver_employee_id: 1
                            sender:
                              name: Hashy
                            sender_employee_id: 9
                            updated_at: '2025-03-04T06:12:19.462Z'
                            wamid: null
                          - ai_logs: []
                            channel: whatsapp
                            created_at: '2025-03-04T06:12:13.915Z'
                            filepath: null
                            id: 178
                            message: bagaimana kabarmu?
                            message_type: text
                            receiver:
                              name: Hashy
                            receiver_employee_id: 9
                            sender:
                              name: Muhamad Iqbal Rivaldi
                            sender_employee_id: 1
                            updated_at: '2025-03-04T06:12:13.915Z'
                            wamid: >-
                              wamid.HBgNNjI4NTE1NjU3NDQ5NxUCABIYFDNBRjA4NzAxNDY0REM4MkE0NjgyAA==
                          - ai_logs: []
                            channel: whatsapp
                            created_at: '2025-03-04T06:10:08.275Z'
                            filepath: null
                            id: 177
                            message: >-
                              Sama-sama, Muhamad Iqbal Rivaldi! Senang juga bisa
                              membantu dan berkenalan dengan Anda. Jika ada
                              pertanyaan atau butuh bantuan lagi, jangan ragu
                              untuk bertanya, ya! 😊
                            message_type: text
                            receiver:
                              name: Muhamad Iqbal Rivaldi
                            receiver_employee_id: 1
                            sender:
                              name: Hashy
                            sender_employee_id: 9
                            updated_at: '2025-03-04T06:10:08.275Z'
                            wamid: null
                          - ai_logs: []
                            channel: whatsapp
                            created_at: '2025-03-04T06:10:03.430Z'
                            filepath: null
                            id: 176
                            message: Senang bisa berkenalan
                            message_type: text
                            receiver:
                              name: Hashy
                            receiver_employee_id: 9
                            sender:
                              name: Muhamad Iqbal Rivaldi
                            sender_employee_id: 1
                            updated_at: '2025-03-04T06:10:03.430Z'
                            wamid: >-
                              wamid.HBgNNjI4NTE1NjU3NDQ5NxUCABIYFDNBNEZBMDJCRDZBNjJFRkUwMzBFAA==
                      total_data:
                        type: number
                        example: 124
                      total_pages:
                        type: number
                        example: 13
                  message:
                    type: string
                    example: Success get Messages
                  status:
                    type: boolean
                    example: true
              examples:
                List:
                  value:
                    data:
                      current_page: 10
                      data:
                        - ai_logs: []
                          channel: whatsapp
                          created_at: '2025-03-04T06:52:38.160Z'
                          filepath: null
                          id: 185
                          message: >-
                            Hai Muhamad Iqbal Rivaldi! Untuk cek kehadiran
                            karyawan lain, saya perlu memeriksa izin akses Anda
                            terlebih dahulu. Bisa Anda beritahu saya apa posisi
                            atau jabatan Anda di perusahaan? Dengan demikian,
                            saya bisa membantu Anda lebih lanjut. 😊
                          message_type: text
                          receiver:
                            name: Muhamad Iqbal Rivaldi
                          receiver_employee_id: 1
                          sender:
                            name: Hashy
                          sender_employee_id: 9
                          updated_at: '2025-03-04T06:52:38.160Z'
                          wamid: null
                        - ai_logs: []
                          channel: whatsapp
                          created_at: '2025-03-04T06:52:32.315Z'
                          filepath: null
                          id: 184
                          message: apakah saya bisa cek kehadiran karyawan lain?
                          message_type: text
                          receiver:
                            name: Hashy
                          receiver_employee_id: 9
                          sender:
                            name: Muhamad Iqbal Rivaldi
                          sender_employee_id: 1
                          updated_at: '2025-03-04T06:52:32.315Z'
                          wamid: >-
                            wamid.HBgNNjI4NTE1NjU3NDQ5NxUCABIYFDNBOEJEQkRFMjc0M0IyMzFDRjlGAA==
                        - ai_logs: []
                          channel: whatsapp
                          created_at: '2025-03-04T06:52:04.808Z'
                          filepath: null
                          id: 183
                          message: >-
                            Hai Muhamad Iqbal Rivaldi! Berikut adalah rekap
                            kehadiran Anda di bulan kemarin:


                            - Jumlah hari kerja: 20 hari

                            - Jumlah hari hadir: 18 hari

                            - Jumlah hari tidak hadir: 2 hari

                            - Jumlah hari cuti: 1 hari (Annual Leave)


                            Jika ada hal lain yang bisa saya bantu, silakan beri
                            tahu! 😊
                          message_type: text
                          receiver:
                            name: Muhamad Iqbal Rivaldi
                          receiver_employee_id: 1
                          sender:
                            name: Hashy
                          sender_employee_id: 9
                          updated_at: '2025-03-04T06:52:04.808Z'
                          wamid: null
                        - ai_logs: []
                          channel: whatsapp
                          created_at: '2025-03-04T06:51:59.821Z'
                          filepath: null
                          id: 182
                          message: buatkan rekap kehadiran dibulan kemarin
                          message_type: text
                          receiver:
                            name: Hashy
                          receiver_employee_id: 9
                          sender:
                            name: Muhamad Iqbal Rivaldi
                          sender_employee_id: 1
                          updated_at: '2025-03-04T06:51:59.821Z'
                          wamid: >-
                            wamid.HBgNNjI4NTE1NjU3NDQ5NxUCABIYFDNBQkVFQzg2MDU2RDdENzJDRjM2AA==
                        - ai_logs: []
                          channel: whatsapp
                          created_at: '2025-03-04T06:51:35.029Z'
                          filepath: null
                          id: 181
                          message: >-
                            Hai Muhamad Iqbal Rivaldi! Ada yang bisa Hashy bantu
                            lagi hari ini?
                          message_type: text
                          receiver:
                            name: Muhamad Iqbal Rivaldi
                          receiver_employee_id: 1
                          sender:
                            name: Hashy
                          sender_employee_id: 9
                          updated_at: '2025-03-04T06:51:35.029Z'
                          wamid: null
                        - ai_logs: []
                          channel: whatsapp
                          created_at: '2025-03-04T06:51:29.556Z'
                          filepath: null
                          id: 180
                          message: Hallo
                          message_type: text
                          receiver:
                            name: Hashy
                          receiver_employee_id: 9
                          sender:
                            name: Muhamad Iqbal Rivaldi
                          sender_employee_id: 1
                          updated_at: '2025-03-04T06:51:29.556Z'
                          wamid: >-
                            wamid.HBgNNjI4NTE1NjU3NDQ5NxUCABIYFDNBNEE2ODE5NEZDM0IyOEM1RTBGAA==
                        - ai_logs: []
                          channel: whatsapp
                          created_at: '2025-03-04T06:12:19.462Z'
                          filepath: null
                          id: 179
                          message: >-
                            Baik, terima kasih! Senang bisa membantu kamu hari
                            ini. Bagaimana aku bisa membantu lagi? 🙏
                          message_type: text
                          receiver:
                            name: Muhamad Iqbal Rivaldi
                          receiver_employee_id: 1
                          sender:
                            name: Hashy
                          sender_employee_id: 9
                          updated_at: '2025-03-04T06:12:19.462Z'
                          wamid: null
                        - ai_logs: []
                          channel: whatsapp
                          created_at: '2025-03-04T06:12:13.915Z'
                          filepath: null
                          id: 178
                          message: bagaimana kabarmu?
                          message_type: text
                          receiver:
                            name: Hashy
                          receiver_employee_id: 9
                          sender:
                            name: Muhamad Iqbal Rivaldi
                          sender_employee_id: 1
                          updated_at: '2025-03-04T06:12:13.915Z'
                          wamid: >-
                            wamid.HBgNNjI4NTE1NjU3NDQ5NxUCABIYFDNBRjA4NzAxNDY0REM4MkE0NjgyAA==
                        - ai_logs: []
                          channel: whatsapp
                          created_at: '2025-03-04T06:10:08.275Z'
                          filepath: null
                          id: 177
                          message: >-
                            Sama-sama, Muhamad Iqbal Rivaldi! Senang juga bisa
                            membantu dan berkenalan dengan Anda. Jika ada
                            pertanyaan atau butuh bantuan lagi, jangan ragu
                            untuk bertanya, ya! 😊
                          message_type: text
                          receiver:
                            name: Muhamad Iqbal Rivaldi
                          receiver_employee_id: 1
                          sender:
                            name: Hashy
                          sender_employee_id: 9
                          updated_at: '2025-03-04T06:10:08.275Z'
                          wamid: null
                        - ai_logs: []
                          channel: whatsapp
                          created_at: '2025-03-04T06:10:03.430Z'
                          filepath: null
                          id: 176
                          message: Senang bisa berkenalan
                          message_type: text
                          receiver:
                            name: Hashy
                          receiver_employee_id: 9
                          sender:
                            name: Muhamad Iqbal Rivaldi
                          sender_employee_id: 1
                          updated_at: '2025-03-04T06:10:03.430Z'
                          wamid: >-
                            wamid.HBgNNjI4NTE1NjU3NDQ5NxUCABIYFDNBNEZBMDJCRDZBNjJFRkUwMzBFAA==
                      total_data: 124
                      total_pages: 13
                    message: Success get Messages
                    status: true
      security:
        - bearerAuth: []
  /message/employee/1:
    get:
      tags:
        - Messages
      summary: By Employee
      description: By Employee
      operationId: byEmployee
      parameters:
        - name: sort_by
          in: query
          schema:
            type: string
            example: id
        - name: order
          in: query
          schema:
            type: string
            example: ASC
        - name: page
          in: query
          schema:
            type: string
            example: ''
        - name: limit
          in: query
          schema:
            type: string
            example: ''
      responses:
        '200':
          description: By Employee
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: 'true'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Language:
              schema:
                type: string
                example: en
            Content-Length:
              schema:
                type: string
                example: '15904'
            Date:
              schema:
                type: string
                example: Tue, 20 May 2025 02:57:39 GMT
            ETag:
              schema:
                type: string
                example: W/"3e20-dxC1XQM1Tj8U2t1pl1dsPniIv78"
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Set-Cookie:
              schema:
                type: string
                example: >-
                  i18next=en; Path=/; Expires=Wed, 20 May 2026 02:57:39 GMT;
                  SameSite=Strict
            Vary:
              schema:
                type: string
                example: Origin
            X-Powered-By:
              schema:
                type: string
                example: Express
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      current_page:
                        type: number
                        example: 1
                      rows:
                        type: array
                        items:
                          type: object
                          properties:
                            caption:
                              type: string
                              nullable: true
                              example: null
                            createdAt:
                              type: string
                              example: '2025-05-19T08:29:32.607Z'
                            id:
                              type: number
                              example: 42
                            media:
                              type: string
                              nullable: true
                              example: null
                            msg:
                              type: string
                              example: >-
                                Terima kasih telah membagikan kembali data
                                laporan *Profit and Loss* dari Hashmicro, Kak
                                Muhamad Iqbal Rivaldi. 😊


                                Berdasarkan laporan yang Anda bagikan, berikut
                                adalah beberapa poin penting yang dapat kita
                                analisis lebih lanjut:


                                1. **Gross Profit** meningkat signifikan sebesar
                                **13061.12%**, namun terdapat angka negatif di
                                kedua periode (November dan Oktober 2024). Hal
                                ini mungkin perlu klarifikasi lebih lanjut untuk
                                memastikan apakah ada faktor khusus yang
                                memengaruhi perhitungan Gross Profit.
                                   - Misalnya, apakah ada penyesuaian akuntansi atau transaksi besar yang belum dicatat?

                                2. **Cost of Revenue** juga mengalami lonjakan
                                sebesar **43515.36%**, yang cukup mencolok. Jika
                                diperlukan, saya bisa membantu meninjau rincian
                                *Cost of Goods Sold* untuk memahami penyebab
                                kenaikannya.


                                3. **Operating Expense** relatif stabil dengan
                                kenaikan hanya **0.49%**, namun ada beberapa
                                akun seperti *Other Expenses* yang turun drastis
                                (**-97.98%**) dibandingkan periode sebelumnya.
                                Apakah ada kebijakan baru terkait pengelolaan
                                biaya operasional?


                                4. **Depreciation** mencapai Rp 308,571,428.58
                                pada November 2024. Apakah ini terkait dengan
                                penambahan aset tetap seperti *Office Furniture*
                                yang disebutkan dalam laporan?


                                Apakah ada bagian spesifik dari laporan ini yang
                                ingin Anda diskusikan lebih detail? Saya siap
                                membantu menjelaskan angka-angka tersebut atau
                                memberikan panduan langkah selanjutnya sesuai
                                kebutuhan Anda. 😊


                                Terima kasih banyak atas kepercayaannya! 🙏
                            receiver:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: Muhamad Iqbal Rivaldi
                            sender:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: Hashy
                            senderId:
                              type: number
                              example: 2
                            type:
                              type: string
                              example: text
                        example:
                          - caption: null
                            createdAt: '2025-05-19T08:29:32.607Z'
                            id: 42
                            media: null
                            msg: >-
                              Terima kasih telah membagikan kembali data laporan
                              *Profit and Loss* dari Hashmicro, Kak Muhamad
                              Iqbal Rivaldi. 😊


                              Berdasarkan laporan yang Anda bagikan, berikut
                              adalah beberapa poin penting yang dapat kita
                              analisis lebih lanjut:


                              1. **Gross Profit** meningkat signifikan sebesar
                              **13061.12%**, namun terdapat angka negatif di
                              kedua periode (November dan Oktober 2024). Hal ini
                              mungkin perlu klarifikasi lebih lanjut untuk
                              memastikan apakah ada faktor khusus yang
                              memengaruhi perhitungan Gross Profit.
                                 - Misalnya, apakah ada penyesuaian akuntansi atau transaksi besar yang belum dicatat?

                              2. **Cost of Revenue** juga mengalami lonjakan
                              sebesar **43515.36%**, yang cukup mencolok. Jika
                              diperlukan, saya bisa membantu meninjau rincian
                              *Cost of Goods Sold* untuk memahami penyebab
                              kenaikannya.


                              3. **Operating Expense** relatif stabil dengan
                              kenaikan hanya **0.49%**, namun ada beberapa akun
                              seperti *Other Expenses* yang turun drastis
                              (**-97.98%**) dibandingkan periode sebelumnya.
                              Apakah ada kebijakan baru terkait pengelolaan
                              biaya operasional?


                              4. **Depreciation** mencapai Rp 308,571,428.58
                              pada November 2024. Apakah ini terkait dengan
                              penambahan aset tetap seperti *Office Furniture*
                              yang disebutkan dalam laporan?


                              Apakah ada bagian spesifik dari laporan ini yang
                              ingin Anda diskusikan lebih detail? Saya siap
                              membantu menjelaskan angka-angka tersebut atau
                              memberikan panduan langkah selanjutnya sesuai
                              kebutuhan Anda. 😊


                              Terima kasih banyak atas kepercayaannya! 🙏
                            receiver:
                              name: Muhamad Iqbal Rivaldi
                            sender:
                              name: Hashy
                            senderId: 2
                            type: text
                          - caption: Ini document apa hashy?
                            createdAt: '2025-05-19T08:29:12.330Z'
                            id: 41
                            media: >-
                              public/storage/meta/663802323294705_ProfitandLoss.pdf
                            msg: >-


                              Hashmicro

                              ProfitandLoss

                              Accrual Basis : Posted Entry

                              Nov 2024Oct 2024%

                              Gross Profit

                              Sales Revenue

                              Rp -

                              22,978,687.40

                              Rp -

                              3,024,253,499.00

                              -

                              13061.12%

                              4100001 - Sales View General Ledger

                              Rp 3,521,312.60

                              Rp -

                              3,139,957,299.00

                              -

                              89270.08%

                              51000021 - Purchase Discount View General Ledger

                              Rp -

                              26,500,000.00Rp 115,567,000.00536.10%

                              4100002 - Income Account AVCO View General
                              LedgerRp 0.00Rp 136,800.00n/a

                              Total Sales Revenue

                              Rp -

                              22,978,687.40

                              Rp -

                              3,024,253,499.00

                              -

                              13061.12%

                              Cost Of Revenue

                              Rp 883,151.00Rp 385,189,455.2043515.36%

                              5100001 - Cost of Goods Sold View General Ledger

                              Rp 883,151.00Rp 385,189,455.2043515.36%

                              Total Cost Of Revenue

                              Rp 883,151.00Rp 385,189,455.2043515.36%

                              Total Gross ProfitRp -

                              22,095,536.40

                              Rp -

                              2,639,064,043.80

                              -

                              11843.88%

                              Operating Profit

                              2024-11-18 11:59

                              Hashmicro

                              1

                              /

                              3


                              Total Gross Profit

                              Rp -

                              22,095,536.40

                              Rp -

                              2,639,064,043.80

                              -

                              11843.88%

                              Operating Expense

                              Rp 62,700,000.00Rp 63,006,246.900.49%

                              2222222 - Opening Expense Account View General
                              Ledger

                              Rp 200,000.00

                              Rp 0.00n/a

                              6900000 - Other Expenses View General Ledger

                              Rp 62,500,000.00Rp 1,262,500.00-97.98%

                              42000071 - Sale Discount View General Ledger

                              Rp 0.00Rp 417,502.00n/a

                              6110001 - Employee Salary View General Ledger

                              Rp 0.00Rp 47,200,000.00n/a

                              6311007 - Prepaid Phone Bills View General Ledger

                              Rp 0.00Rp 6,000,000.00n/a

                              6611001 - Vehicle Fuel View General Ledger

                              Rp 0.00Rp 3,700,000.00n/a

                              6611002 - Vehicle Service View General Ledger

                              Rp 0.00Rp 1,250,000.00n/a

                              6611003 - Vehicle Parking & Toll Fee View General
                              Ledger

                              Rp 0.00Rp 2,100,000.00n/a

                              91100041 - Unrealized Foreign Exchange Loss View
                              General Ledger

                              Rp 0.00Rp 1,076,244.90n/a

                              Total Operating Expense

                              Rp 62,700,000.00Rp 63,006,246.900.49%

                              Total Operating Profit

                              Rp 40,604,463.60

                              Rp -

                              2,576,057,796.90-6444.27%

                              Earnings Before Interest, Taxes, Depreciation, and
                              Amortization

                              Total Operating Profit

                              Rp 40,604,463.60

                              Rp -

                              2,576,057,796.90-6444.27%

                              Other Income

                              Rp 0.00Rp -6,044,212.00n/a

                              Nov 2024Oct 2024%

                              2024-11-18 11:59

                              Hashmicro

                              2

                              /

                              3


                              8110003 - Foreign Exchange Gain View General
                              Ledger

                              Rp 0.00Rp -599,955.00n/a

                              8110004 - Other Income View General Ledger

                              Rp 0.00Rp -3,203,500.00n/a

                              81100041 - Unrealized Foreign Exchange Gain View
                              General Ledger

                              Rp 0.00Rp -2,240,757.00n/a

                              Total Other Income

                              Rp 0.00Rp -6,044,212.00n/a

                              Total Earnings Before Interest, Taxes,
                              Depreciation, and Amortization

                              Rp 40,604,463.60

                              Rp -

                              2,582,102,008.90-6459.16%

                              Earnings Before Interest and Taxes

                              Total Earnings Before Interest, Taxes,
                              Depreciation, and

                              Amortization

                              Rp 40,604,463.60

                              Rp -

                              2,582,102,008.90-6459.16%

                              Depreciation

                              Rp 0.00Rp 308,571,428.58n/a

                              6710007 - Depreciation Expense: Office Funiture
                              View General Ledger

                              Rp 0.00Rp 308,571,428.58n/a

                              Total Depreciation

                              Rp 0.00Rp 308,571,428.58n/a

                              Total Earnings Before Interest and Taxes

                              Rp 40,604,463.60

                              Rp -

                              2,273,530,580.32-5699.21%

                              Nett Profit

                              Total Earnings Before Interest and Taxes

                              Rp 40,604,463.60

                              Rp -

                              2,273,530,580.32-5699.21%

                              Total Nett Profit

                              Rp 40,604,463.60

                              Rp -

                              2,273,530,580.32-5699.21%

                              Nov 2024Oct 2024%

                              2024-11-18 11:59

                              Hashmicro

                              3

                              /

                              3
                            receiver:
                              name: Hashy
                            sender:
                              name: Muhamad Iqbal Rivaldi
                            senderId: 1
                            type: document
                          - caption: null
                            createdAt: '2025-05-19T08:04:17.449Z'
                            id: 40
                            media: null
                            msg: >-
                              Terima kasih telah membagikan kembali data laporan
                              *Profit and Loss* dari Hashmicro, Kak Muhamad
                              Iqbal Rivaldi. 😊


                              Melihat isi laporan yang Anda bagikan, sepertinya
                              ini adalah rincian performa keuangan untuk periode
                              **November 2024** dibandingkan dengan **Oktober
                              2024**, dengan beberapa poin signifikan seperti:


                              - **Peningkatan Gross Profit sebesar 13061.12%**
                              (dari Rp -22,978,687.40 menjadi Rp
                              -3,024,253,499.00).

                              - **Kenaikan Cost of Revenue sebesar 43515.36%**,
                              yang perlu dicermati lebih lanjut karena cukup
                              besar.

                              - **Operating Expense naik 0.49%**, relatif stabil
                              namun tetap penting untuk ditinjau.


                              Apakah ada elemen spesifik dalam laporan ini yang
                              ingin didalami lebih detail? Misalnya:

                              - Apakah peningkatan biaya tertentu seperti *Cost
                              of Goods Sold* atau *Depreciation* perlu
                              dijelaskan lebih lanjut?

                              - Atau apakah Anda membutuhkan panduan untuk
                              mengambil langkah berikutnya berdasarkan data
                              ini?


                              Saya siap membantu menjelaskan angka-angka
                              tersebut atau memberikan saran sesuai kebutuhan
                              Anda. 😊


                              Terima kasih banyak atas kepercayaannya! 🙏
                            receiver:
                              name: Muhamad Iqbal Rivaldi
                            sender:
                              name: Hashy
                            senderId: 2
                            type: text
                          - caption: kalo loss bnya berpa berdasarkan data diatas?
                            createdAt: '2025-05-19T08:04:00.474Z'
                            id: 39
                            media: >-
                              public/storage/meta/2193758354471757_ProfitandLoss.pdf
                            msg: >-


                              Hashmicro

                              ProfitandLoss

                              Accrual Basis : Posted Entry

                              Nov 2024Oct 2024%

                              Gross Profit

                              Sales Revenue

                              Rp -

                              22,978,687.40

                              Rp -

                              3,024,253,499.00

                              -

                              13061.12%

                              4100001 - Sales View General Ledger

                              Rp 3,521,312.60

                              Rp -

                              3,139,957,299.00

                              -

                              89270.08%

                              51000021 - Purchase Discount View General Ledger

                              Rp -

                              26,500,000.00Rp 115,567,000.00536.10%

                              4100002 - Income Account AVCO View General
                              LedgerRp 0.00Rp 136,800.00n/a

                              Total Sales Revenue

                              Rp -

                              22,978,687.40

                              Rp -

                              3,024,253,499.00

                              -

                              13061.12%

                              Cost Of Revenue

                              Rp 883,151.00Rp 385,189,455.2043515.36%

                              5100001 - Cost of Goods Sold View General Ledger

                              Rp 883,151.00Rp 385,189,455.2043515.36%

                              Total Cost Of Revenue

                              Rp 883,151.00Rp 385,189,455.2043515.36%

                              Total Gross ProfitRp -

                              22,095,536.40

                              Rp -

                              2,639,064,043.80

                              -

                              11843.88%

                              Operating Profit

                              2024-11-18 11:59

                              Hashmicro

                              1

                              /

                              3


                              Total Gross Profit

                              Rp -

                              22,095,536.40

                              Rp -

                              2,639,064,043.80

                              -

                              11843.88%

                              Operating Expense

                              Rp 62,700,000.00Rp 63,006,246.900.49%

                              2222222 - Opening Expense Account View General
                              Ledger

                              Rp 200,000.00

                              Rp 0.00n/a

                              6900000 - Other Expenses View General Ledger

                              Rp 62,500,000.00Rp 1,262,500.00-97.98%

                              42000071 - Sale Discount View General Ledger

                              Rp 0.00Rp 417,502.00n/a

                              6110001 - Employee Salary View General Ledger

                              Rp 0.00Rp 47,200,000.00n/a

                              6311007 - Prepaid Phone Bills View General Ledger

                              Rp 0.00Rp 6,000,000.00n/a

                              6611001 - Vehicle Fuel View General Ledger

                              Rp 0.00Rp 3,700,000.00n/a

                              6611002 - Vehicle Service View General Ledger

                              Rp 0.00Rp 1,250,000.00n/a

                              6611003 - Vehicle Parking & Toll Fee View General
                              Ledger

                              Rp 0.00Rp 2,100,000.00n/a

                              91100041 - Unrealized Foreign Exchange Loss View
                              General Ledger

                              Rp 0.00Rp 1,076,244.90n/a

                              Total Operating Expense

                              Rp 62,700,000.00Rp 63,006,246.900.49%

                              Total Operating Profit

                              Rp 40,604,463.60

                              Rp -

                              2,576,057,796.90-6444.27%

                              Earnings Before Interest, Taxes, Depreciation, and
                              Amortization

                              Total Operating Profit

                              Rp 40,604,463.60

                              Rp -

                              2,576,057,796.90-6444.27%

                              Other Income

                              Rp 0.00Rp -6,044,212.00n/a

                              Nov 2024Oct 2024%

                              2024-11-18 11:59

                              Hashmicro

                              2

                              /

                              3


                              8110003 - Foreign Exchange Gain View General
                              Ledger

                              Rp 0.00Rp -599,955.00n/a

                              8110004 - Other Income View General Ledger

                              Rp 0.00Rp -3,203,500.00n/a

                              81100041 - Unrealized Foreign Exchange Gain View
                              General Ledger

                              Rp 0.00Rp -2,240,757.00n/a

                              Total Other Income

                              Rp 0.00Rp -6,044,212.00n/a

                              Total Earnings Before Interest, Taxes,
                              Depreciation, and Amortization

                              Rp 40,604,463.60

                              Rp -

                              2,582,102,008.90-6459.16%

                              Earnings Before Interest and Taxes

                              Total Earnings Before Interest, Taxes,
                              Depreciation, and

                              Amortization

                              Rp 40,604,463.60

                              Rp -

                              2,582,102,008.90-6459.16%

                              Depreciation

                              Rp 0.00Rp 308,571,428.58n/a

                              6710007 - Depreciation Expense: Office Funiture
                              View General Ledger

                              Rp 0.00Rp 308,571,428.58n/a

                              Total Depreciation

                              Rp 0.00Rp 308,571,428.58n/a

                              Total Earnings Before Interest and Taxes

                              Rp 40,604,463.60

                              Rp -

                              2,273,530,580.32-5699.21%

                              Nett Profit

                              Total Earnings Before Interest and Taxes

                              Rp 40,604,463.60

                              Rp -

                              2,273,530,580.32-5699.21%

                              Total Nett Profit

                              Rp 40,604,463.60

                              Rp -

                              2,273,530,580.32-5699.21%

                              Nov 2024Oct 2024%

                              2024-11-18 11:59

                              Hashmicro

                              3

                              /

                              3
                            receiver:
                              name: Hashy
                            sender:
                              name: Muhamad Iqbal Rivaldi
                            senderId: 1
                            type: document
                          - caption: null
                            createdAt: '2025-05-19T08:01:23.991Z'
                            id: 38
                            media: null
                            msg: >-
                              Terima kasih telah membagikan data laporan *Profit
                              and Loss* dari Hashmicro. 😊


                              Jika saya memahami dengan benar, sepertinya Anda
                              ingin meninjau atau mendiskusikan lebih lanjut
                              mengenai laporan keuangan ini, seperti perubahan
                              signifikan pada pendapatan, biaya operasional,
                              atau elemen lainnya. Apakah ada bagian tertentu
                              dari laporan ini yang ingin Anda analisis lebih
                              detail? Misalnya:


                              - **Gross Profit** (13061.12% peningkatan)

                              - **Operating Expense** (kenaikan 0.49%)

                              - Atau adakah informasi lain yang perlu
                              diklarifikasi/dibahas?


                              Saya siap membantu menjelaskan angka-angka
                              tersebut atau memberikan panduan langkah
                              selanjutnya jika diperlukan. 😊


                              Terima kasih banyak atas kepercayaannya, Kak
                              Muhamad Iqbal Rivaldi! 🙏
                            receiver:
                              name: Muhamad Iqbal Rivaldi
                            sender:
                              name: Hashy
                            senderId: 2
                            type: text
                          - caption: berapa profit berdasarkan data diatas?
                            createdAt: '2025-05-19T08:01:09.446Z'
                            id: 37
                            media: >-
                              public/storage/meta/1060516712634580_ProfitandLoss.pdf
                            msg: >-


                              Hashmicro

                              ProfitandLoss

                              Accrual Basis : Posted Entry

                              Nov 2024Oct 2024%

                              Gross Profit

                              Sales Revenue

                              Rp -

                              22,978,687.40

                              Rp -

                              3,024,253,499.00

                              -

                              13061.12%

                              4100001 - Sales View General Ledger

                              Rp 3,521,312.60

                              Rp -

                              3,139,957,299.00

                              -

                              89270.08%

                              51000021 - Purchase Discount View General Ledger

                              Rp -

                              26,500,000.00Rp 115,567,000.00536.10%

                              4100002 - Income Account AVCO View General
                              LedgerRp 0.00Rp 136,800.00n/a

                              Total Sales Revenue

                              Rp -

                              22,978,687.40

                              Rp -

                              3,024,253,499.00

                              -

                              13061.12%

                              Cost Of Revenue

                              Rp 883,151.00Rp 385,189,455.2043515.36%

                              5100001 - Cost of Goods Sold View General Ledger

                              Rp 883,151.00Rp 385,189,455.2043515.36%

                              Total Cost Of Revenue

                              Rp 883,151.00Rp 385,189,455.2043515.36%

                              Total Gross ProfitRp -

                              22,095,536.40

                              Rp -

                              2,639,064,043.80

                              -

                              11843.88%

                              Operating Profit

                              2024-11-18 11:59

                              Hashmicro

                              1

                              /

                              3


                              Total Gross Profit

                              Rp -

                              22,095,536.40

                              Rp -

                              2,639,064,043.80

                              -

                              11843.88%

                              Operating Expense

                              Rp 62,700,000.00Rp 63,006,246.900.49%

                              2222222 - Opening Expense Account View General
                              Ledger

                              Rp 200,000.00

                              Rp 0.00n/a

                              6900000 - Other Expenses View General Ledger

                              Rp 62,500,000.00Rp 1,262,500.00-97.98%

                              42000071 - Sale Discount View General Ledger

                              Rp 0.00Rp 417,502.00n/a

                              6110001 - Employee Salary View General Ledger

                              Rp 0.00Rp 47,200,000.00n/a

                              6311007 - Prepaid Phone Bills View General Ledger

                              Rp 0.00Rp 6,000,000.00n/a

                              6611001 - Vehicle Fuel View General Ledger

                              Rp 0.00Rp 3,700,000.00n/a

                              6611002 - Vehicle Service View General Ledger

                              Rp 0.00Rp 1,250,000.00n/a

                              6611003 - Vehicle Parking & Toll Fee View General
                              Ledger

                              Rp 0.00Rp 2,100,000.00n/a

                              91100041 - Unrealized Foreign Exchange Loss View
                              General Ledger

                              Rp 0.00Rp 1,076,244.90n/a

                              Total Operating Expense

                              Rp 62,700,000.00Rp 63,006,246.900.49%

                              Total Operating Profit

                              Rp 40,604,463.60

                              Rp -

                              2,576,057,796.90-6444.27%

                              Earnings Before Interest, Taxes, Depreciation, and
                              Amortization

                              Total Operating Profit

                              Rp 40,604,463.60

                              Rp -

                              2,576,057,796.90-6444.27%

                              Other Income

                              Rp 0.00Rp -6,044,212.00n/a

                              Nov 2024Oct 2024%

                              2024-11-18 11:59

                              Hashmicro

                              2

                              /

                              3


                              8110003 - Foreign Exchange Gain View General
                              Ledger

                              Rp 0.00Rp -599,955.00n/a

                              8110004 - Other Income View General Ledger

                              Rp 0.00Rp -3,203,500.00n/a

                              81100041 - Unrealized Foreign Exchange Gain View
                              General Ledger

                              Rp 0.00Rp -2,240,757.00n/a

                              Total Other Income

                              Rp 0.00Rp -6,044,212.00n/a

                              Total Earnings Before Interest, Taxes,
                              Depreciation, and Amortization

                              Rp 40,604,463.60

                              Rp -

                              2,582,102,008.90-6459.16%

                              Earnings Before Interest and Taxes

                              Total Earnings Before Interest, Taxes,
                              Depreciation, and

                              Amortization

                              Rp 40,604,463.60

                              Rp -

                              2,582,102,008.90-6459.16%

                              Depreciation

                              Rp 0.00Rp 308,571,428.58n/a

                              6710007 - Depreciation Expense: Office Funiture
                              View General Ledger

                              Rp 0.00Rp 308,571,428.58n/a

                              Total Depreciation

                              Rp 0.00Rp 308,571,428.58n/a

                              Total Earnings Before Interest and Taxes

                              Rp 40,604,463.60

                              Rp -

                              2,273,530,580.32-5699.21%

                              Nett Profit

                              Total Earnings Before Interest and Taxes

                              Rp 40,604,463.60

                              Rp -

                              2,273,530,580.32-5699.21%

                              Total Nett Profit

                              Rp 40,604,463.60

                              Rp -

                              2,273,530,580.32-5699.21%

                              Nov 2024Oct 2024%

                              2024-11-18 11:59

                              Hashmicro

                              3

                              /

                              3
                            receiver:
                              name: Hashy
                            sender:
                              name: Muhamad Iqbal Rivaldi
                            senderId: 1
                            type: document
                          - caption: null
                            createdAt: '2025-05-19T07:58:46.568Z'
                            id: 36
                            media: null
                            msg: >-
                              Hallo, Kak Muhamad Iqbal Rivaldi! 😊 Bagaimana
                              bisa saya bantu hari ini?


                              Oh iya, perkenalkan, saya Hashy, AI Assistant dari
                              HashMicro. Senang sekali bisa membantu kebutuhan
                              Anda. Jika ada pertanyaan atau butuh informasi
                              lebih lanjut, jangan ragu untuk menyampaikannya
                              ya!


                              Terima kasih! 🙏
                            receiver:
                              name: Muhamad Iqbal Rivaldi
                            sender:
                              name: Hashy
                            senderId: 2
                            type: text
                          - caption: ''
                            createdAt: '2025-05-19T07:58:39.788Z'
                            id: 35
                            media: null
                            msg: Hallo
                            receiver:
                              name: Hashy
                            sender:
                              name: Muhamad Iqbal Rivaldi
                            senderId: 1
                            type: text
                          - caption: null
                            createdAt: '2025-05-19T02:28:41.004Z'
                            id: 34
                            media: null
                            msg: >-
                              For using Grab in Singapore, the SOP states:


                              - **Allowed Users**: Divisions operating outside
                              Indonesia.

                              - **Permitted Travel Types**: Home/Hotel to
                              Client, Client to Client, Client to Home/Hotel,
                              Airport Transport, Harbor Transport, Documents
                              Delivery.

                              - **Required Description**: Example: "Client GHI,
                              Marina Bay, Inspection 09:00".

                              - **Usage Limits**: Similar to other platforms;
                              contact Finance if limits are reached or issues
                              arise.


                              Thank you!
                            receiver:
                              name: Muhamad Iqbal Rivaldi
                            sender:
                              name: Hashy
                            senderId: 2
                            type: text
                          - caption: ''
                            createdAt: '2025-05-19T02:28:34.240Z'
                            id: 33
                            media: null
                            msg: can i know the sop for using grab in sg?
                            receiver:
                              name: Hashy
                            sender:
                              name: Muhamad Iqbal Rivaldi
                            senderId: 1
                            type: text
                      total_data:
                        type: number
                        example: 42
                      total_pages:
                        type: number
                        example: 5
                  message:
                    type: string
                    example: Success get Messages
                  status:
                    type: boolean
                    example: true
              examples:
                By Employee:
                  value:
                    data:
                      current_page: 1
                      rows:
                        - caption: null
                          createdAt: '2025-05-19T08:29:32.607Z'
                          id: 42
                          media: null
                          msg: >-
                            Terima kasih telah membagikan kembali data laporan
                            *Profit and Loss* dari Hashmicro, Kak Muhamad Iqbal
                            Rivaldi. 😊


                            Berdasarkan laporan yang Anda bagikan, berikut
                            adalah beberapa poin penting yang dapat kita
                            analisis lebih lanjut:


                            1. **Gross Profit** meningkat signifikan sebesar
                            **13061.12%**, namun terdapat angka negatif di kedua
                            periode (November dan Oktober 2024). Hal ini mungkin
                            perlu klarifikasi lebih lanjut untuk memastikan
                            apakah ada faktor khusus yang memengaruhi
                            perhitungan Gross Profit.
                               - Misalnya, apakah ada penyesuaian akuntansi atau transaksi besar yang belum dicatat?

                            2. **Cost of Revenue** juga mengalami lonjakan
                            sebesar **43515.36%**, yang cukup mencolok. Jika
                            diperlukan, saya bisa membantu meninjau rincian
                            *Cost of Goods Sold* untuk memahami penyebab
                            kenaikannya.


                            3. **Operating Expense** relatif stabil dengan
                            kenaikan hanya **0.49%**, namun ada beberapa akun
                            seperti *Other Expenses* yang turun drastis
                            (**-97.98%**) dibandingkan periode sebelumnya.
                            Apakah ada kebijakan baru terkait pengelolaan biaya
                            operasional?


                            4. **Depreciation** mencapai Rp 308,571,428.58 pada
                            November 2024. Apakah ini terkait dengan penambahan
                            aset tetap seperti *Office Furniture* yang
                            disebutkan dalam laporan?


                            Apakah ada bagian spesifik dari laporan ini yang
                            ingin Anda diskusikan lebih detail? Saya siap
                            membantu menjelaskan angka-angka tersebut atau
                            memberikan panduan langkah selanjutnya sesuai
                            kebutuhan Anda. 😊


                            Terima kasih banyak atas kepercayaannya! 🙏
                          receiver:
                            name: Muhamad Iqbal Rivaldi
                          sender:
                            name: Hashy
                          senderId: 2
                          type: text
                        - caption: Ini document apa hashy?
                          createdAt: '2025-05-19T08:29:12.330Z'
                          id: 41
                          media: >-
                            public/storage/meta/663802323294705_ProfitandLoss.pdf
                          msg: >-


                            Hashmicro

                            ProfitandLoss

                            Accrual Basis : Posted Entry

                            Nov 2024Oct 2024%

                            Gross Profit

                            Sales Revenue

                            Rp -

                            22,978,687.40

                            Rp -

                            3,024,253,499.00

                            -

                            13061.12%

                            4100001 - Sales View General Ledger

                            Rp 3,521,312.60

                            Rp -

                            3,139,957,299.00

                            -

                            89270.08%

                            51000021 - Purchase Discount View General Ledger

                            Rp -

                            26,500,000.00Rp 115,567,000.00536.10%

                            4100002 - Income Account AVCO View General LedgerRp
                            0.00Rp 136,800.00n/a

                            Total Sales Revenue

                            Rp -

                            22,978,687.40

                            Rp -

                            3,024,253,499.00

                            -

                            13061.12%

                            Cost Of Revenue

                            Rp 883,151.00Rp 385,189,455.2043515.36%

                            5100001 - Cost of Goods Sold View General Ledger

                            Rp 883,151.00Rp 385,189,455.2043515.36%

                            Total Cost Of Revenue

                            Rp 883,151.00Rp 385,189,455.2043515.36%

                            Total Gross ProfitRp -

                            22,095,536.40

                            Rp -

                            2,639,064,043.80

                            -

                            11843.88%

                            Operating Profit

                            2024-11-18 11:59

                            Hashmicro

                            1

                            /

                            3


                            Total Gross Profit

                            Rp -

                            22,095,536.40

                            Rp -

                            2,639,064,043.80

                            -

                            11843.88%

                            Operating Expense

                            Rp 62,700,000.00Rp 63,006,246.900.49%

                            2222222 - Opening Expense Account View General
                            Ledger

                            Rp 200,000.00

                            Rp 0.00n/a

                            6900000 - Other Expenses View General Ledger

                            Rp 62,500,000.00Rp 1,262,500.00-97.98%

                            42000071 - Sale Discount View General Ledger

                            Rp 0.00Rp 417,502.00n/a

                            6110001 - Employee Salary View General Ledger

                            Rp 0.00Rp 47,200,000.00n/a

                            6311007 - Prepaid Phone Bills View General Ledger

                            Rp 0.00Rp 6,000,000.00n/a

                            6611001 - Vehicle Fuel View General Ledger

                            Rp 0.00Rp 3,700,000.00n/a

                            6611002 - Vehicle Service View General Ledger

                            Rp 0.00Rp 1,250,000.00n/a

                            6611003 - Vehicle Parking & Toll Fee View General
                            Ledger

                            Rp 0.00Rp 2,100,000.00n/a

                            91100041 - Unrealized Foreign Exchange Loss View
                            General Ledger

                            Rp 0.00Rp 1,076,244.90n/a

                            Total Operating Expense

                            Rp 62,700,000.00Rp 63,006,246.900.49%

                            Total Operating Profit

                            Rp 40,604,463.60

                            Rp -

                            2,576,057,796.90-6444.27%

                            Earnings Before Interest, Taxes, Depreciation, and
                            Amortization

                            Total Operating Profit

                            Rp 40,604,463.60

                            Rp -

                            2,576,057,796.90-6444.27%

                            Other Income

                            Rp 0.00Rp -6,044,212.00n/a

                            Nov 2024Oct 2024%

                            2024-11-18 11:59

                            Hashmicro

                            2

                            /

                            3


                            8110003 - Foreign Exchange Gain View General Ledger

                            Rp 0.00Rp -599,955.00n/a

                            8110004 - Other Income View General Ledger

                            Rp 0.00Rp -3,203,500.00n/a

                            81100041 - Unrealized Foreign Exchange Gain View
                            General Ledger

                            Rp 0.00Rp -2,240,757.00n/a

                            Total Other Income

                            Rp 0.00Rp -6,044,212.00n/a

                            Total Earnings Before Interest, Taxes, Depreciation,
                            and Amortization

                            Rp 40,604,463.60

                            Rp -

                            2,582,102,008.90-6459.16%

                            Earnings Before Interest and Taxes

                            Total Earnings Before Interest, Taxes, Depreciation,
                            and

                            Amortization

                            Rp 40,604,463.60

                            Rp -

                            2,582,102,008.90-6459.16%

                            Depreciation

                            Rp 0.00Rp 308,571,428.58n/a

                            6710007 - Depreciation Expense: Office Funiture View
                            General Ledger

                            Rp 0.00Rp 308,571,428.58n/a

                            Total Depreciation

                            Rp 0.00Rp 308,571,428.58n/a

                            Total Earnings Before Interest and Taxes

                            Rp 40,604,463.60

                            Rp -

                            2,273,530,580.32-5699.21%

                            Nett Profit

                            Total Earnings Before Interest and Taxes

                            Rp 40,604,463.60

                            Rp -

                            2,273,530,580.32-5699.21%

                            Total Nett Profit

                            Rp 40,604,463.60

                            Rp -

                            2,273,530,580.32-5699.21%

                            Nov 2024Oct 2024%

                            2024-11-18 11:59

                            Hashmicro

                            3

                            /

                            3
                          receiver:
                            name: Hashy
                          sender:
                            name: Muhamad Iqbal Rivaldi
                          senderId: 1
                          type: document
                        - caption: null
                          createdAt: '2025-05-19T08:04:17.449Z'
                          id: 40
                          media: null
                          msg: >-
                            Terima kasih telah membagikan kembali data laporan
                            *Profit and Loss* dari Hashmicro, Kak Muhamad Iqbal
                            Rivaldi. 😊


                            Melihat isi laporan yang Anda bagikan, sepertinya
                            ini adalah rincian performa keuangan untuk periode
                            **November 2024** dibandingkan dengan **Oktober
                            2024**, dengan beberapa poin signifikan seperti:


                            - **Peningkatan Gross Profit sebesar 13061.12%**
                            (dari Rp -22,978,687.40 menjadi Rp
                            -3,024,253,499.00).

                            - **Kenaikan Cost of Revenue sebesar 43515.36%**,
                            yang perlu dicermati lebih lanjut karena cukup
                            besar.

                            - **Operating Expense naik 0.49%**, relatif stabil
                            namun tetap penting untuk ditinjau.


                            Apakah ada elemen spesifik dalam laporan ini yang
                            ingin didalami lebih detail? Misalnya:

                            - Apakah peningkatan biaya tertentu seperti *Cost of
                            Goods Sold* atau *Depreciation* perlu dijelaskan
                            lebih lanjut?

                            - Atau apakah Anda membutuhkan panduan untuk
                            mengambil langkah berikutnya berdasarkan data ini?


                            Saya siap membantu menjelaskan angka-angka tersebut
                            atau memberikan saran sesuai kebutuhan Anda. 😊


                            Terima kasih banyak atas kepercayaannya! 🙏
                          receiver:
                            name: Muhamad Iqbal Rivaldi
                          sender:
                            name: Hashy
                          senderId: 2
                          type: text
                        - caption: kalo loss bnya berpa berdasarkan data diatas?
                          createdAt: '2025-05-19T08:04:00.474Z'
                          id: 39
                          media: >-
                            public/storage/meta/2193758354471757_ProfitandLoss.pdf
                          msg: >-


                            Hashmicro

                            ProfitandLoss

                            Accrual Basis : Posted Entry

                            Nov 2024Oct 2024%

                            Gross Profit

                            Sales Revenue

                            Rp -

                            22,978,687.40

                            Rp -

                            3,024,253,499.00

                            -

                            13061.12%

                            4100001 - Sales View General Ledger

                            Rp 3,521,312.60

                            Rp -

                            3,139,957,299.00

                            -

                            89270.08%

                            51000021 - Purchase Discount View General Ledger

                            Rp -

                            26,500,000.00Rp 115,567,000.00536.10%

[...]
